
html,body{width:100%;overflow-x:hidden;overflow-y:auto;background-color: #efeff4;}
*{box-sizing: border-box;font-family:"Helvetica Neue", Helvetica, sans-serif;line-height: 1.5}
body{padding:0;color:#3d4145;}
img,span,a{display: inline-block;vertical-align: top;}
h1{font-weight:normal;margin:0; padding:0;}
.fl{float: left;}
.fr{float:right;}
$white:#fff;
$defaultC:#3d4145;
$c3:#333;
@mixin fontFormat($fz:1rem,$fc:$defaultC,$ta:left,$wgt:normal){
  color:$fc;
  text-align: $ta;
  font-weight: $wgt;
  @media screen and (max-width: 321px) {
    font-size:$fz;
  }
  @media screen and (min-width: 321px) and (max-width:400px) {
    font-size:$fz;
  }
  @media screen and (min-width: 400px) and(max-width:640px) {
    font-size:$fz ;
  }
  @media screen and (min-width: 640px) {
    font-size:$fz ;
  }
}
@mixin opacity_bg($opa:0.8,$col:#000){
  background-color: $col;
  opacity: $opa;
  filter:alpha(opacity=$opa*100);
  position: absolute;
  left:0;
  bottom:0;
  z-index: 2;
}
/* VIPapply.html */
.vipsection{
  min-height: 100%;
  .banner{
      width: 100%;
      height:2.05rem;
      background:#39F url('/global/images/LOOGO.png') no-repeat 50% 50%;
  }
  .sec{
    padding: 0.4rem 0.2rem;
    .wrapper{
      background:#fff;
      box-shadow:0 0.02rem 0.03rem rgba(0, 0, 0, 0.3);
      border-radius:0.04rem;
      margin-bottom: 0.2rem;
      text-align: center;
      padding:0.28rem 0.2rem;
      h2{
         @include fontFormat($fz:0.36rem,$fc:#3d4145,$ta:center,$wgt:bold);
      }
      p{
        @include fontFormat($fz:0.28rem,$fc:#3d4145,$ta:center,$wgt:bold);
      }
      p.price{
        @include fontFormat($fz:0.48rem,$fc:#09F,$ta:center,$wgt:bold);
      }
      p.font-blue{
        color: #09F;
      }
      p.font-s{
        font-size:0.26rem;
        margin-top: 0.05rem;
      }
    }
    .btn{
      overflow: hidden;
      margin-left: -4%;
      margin-top:0.4rem;
      a{width:46%;margin-left: 4%;border-radius:0.1rem;@include fontFormat($fz:0.26rem,$fc:#fff,$ta:center);height:0.5rem;line-height: 0.5rem}
      a.blue-btn{
        background-color:#0894ec;
      }
      a.yellow-btn{
        background-color:#F90;
      }
    }
  }
}

/*客户详情*/
.customerDetail{
  .sec{
    $pl:0.2rem;
    p{
      @include fontFormat($fz:0.24rem,$fc:#6d6d72);
      line-height: 0.56rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: $pl;
    }
    .bg-white{
      background-color: #fff;
      padding:0 $pl;
    }
    .form-row{
      overflow: hidden;
      font-size: 0.28rem;
      line-height: 0.4rem;
      border-bottom:1px solid #e8e8e8;
      padding: 0.12rem 0.05rem;
      label{
        float:left;
        color:#3d4145;
        font-weight:bold;
      }
      .txt-wrap{
        float:right;
        color: #6d6d72;
      }
    }
    .form-row:last-child{border-bottom: 0;}
  }
}


