.fixed-footer
  ul
    li
      a.active
        span.trangle
        p 首页
    li
      a
        span.trangle
          em 2
        p 我的客户
    li
      a
        span.trangle
          em 9
        p 个人中心



