footer
  ul.ul_col3
    li
      a 首页
      span.border-r
    li
      a  优料宝
      span.border-r
    li
      a  关于我们
  ul.ul_col2
    li
      a(href="")  电脑版
      span.border-r
    li
      a(href="")  回到顶部


