
extends layout/layout

block append headTitle
  title 信贷员认证

block content
  section
    .sec
      p 请完善以下信息，以便我们认证您的信贷员身份
      form.valid-form
        div.bg-white
          div.form-row
            label 姓名
            input(type="text" placeholder="请输入您的姓名")
          div.form-row
            label 您的手机
            input(type="text" placeholder="请输入您的手机号码")
          div.form-row
            label 所在机构名称
            input(type="text" placeholder="请输入您的所在机构名称")
          div.form-row
            label 您的地址
            .select-wrapper.region-select
              select.selectS.province
                option(value="") 浙江省
              select.selectS.city
                option(value="") 杭州市
              select.selectS.area
                option(value="") 江干区
          div.form-row
            label 您的工号牌
            .inputFile
              span 上传图片
              input(type="file" placeholder="上传图片")


      a.submit-a 提交









