<! DOCTYPE html>
html
  head
    meta(charset='utf-8')
    meta(name='Keywords',content='')
    meta(name='Description',content='')
    meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title 客户详情
    link(rel='shortcut icon',href='/favicon.ico')
    link(rel="stylesheet" href="/global/css/reset.css")
    link(rel="stylesheet" href="/global/css/common.css")
    script.
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 + 'px';
  body
    section.customerDetail
      .sec
        .wrapper
          p 请及时修改贷款进度，以便我们为您提供更好的服务
          div.bg-white
            div.form-row
              label 贷款进度
              div.txt-wrap 准备材料
        .wrapper
          p 基本资料
          div.bg-white
            div.form-row
              label 客户
              div.txt-wrap 小建
            div.form-row
              label 贷款类型
              div.txt-wrap 小建
            div.form-row
              label 带宽需求
              div.txt-wrap 小建
            div.form-row
              label 申请时间
              div.txt-wrap 小建
        .wrapper
          p 客户资质
          div.bg-white
            div.form-row
              label 手机号
              div.txt-wrap 小建
            div.form-row
              label 月收入
              div.txt-wrap 小建
            div.form-row
              label 地址
              div.txt-wrap 浙江省绍兴市诸暨市
            div.form-row
              label 有无营业执照
              div.txt-wrap 有
            div.form-row
              label 有无POS机
              div.txt-wrap 无
            div.form-row
              label 有无信用卡
              div.txt-wrap 有








