extends layout/layout

block append headTitle
  title 客户详情

block content
  section.customerDetail
  .sec
    .wrapper
      p 请及时修改贷款进度，以便我们为您提供更好的服务
      div.bg-white
        div.form-row
          label 贷款进度
          div.txt-wrap 准备材料
    .wrapper
      p 基本资料
      div.bg-white
        div.form-row
          label 客户
          div.txt-wrap 小建
        div.form-row
          label 贷款类型
          div.txt-wrap 小建
        div.form-row
          label 带宽需求
          div.txt-wrap 小建
        div.form-row
          label 申请时间
          div.txt-wrap 小建
    .wrapper
      p 客户资质
      div.bg-white
        div.form-row
          label 手机号
          div.txt-wrap 小建
        div.form-row
          label 月收入
          div.txt-wrap 小建
        div.form-row
          label 地址
          div.txt-wrap 浙江省绍兴市诸暨市
        div.form-row
          label 有无营业执照
          div.txt-wrap 有
        div.form-row
          label 有无POS机
          div.txt-wrap 无
        div.form-row
          label 有无信用卡
          div.txt-wrap 有








