<! DOCTYPE html>
html
  head
    meta(charset='utf-8')
    meta(name='Keywords',content='')
    meta(name='Description',content='')
    meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title 首页
    link(rel='shortcut icon',href='/favicon.ico')
    link(rel="stylesheet" href="/global/css/reset.css")
    link(rel="stylesheet" href="/global/css/common.css")
    script.
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 + 'px';
  body
    section.loan-index
      .banner
      .sec
        p 为您提供如下贷款
        div.bg-white
          a.div-wrapper
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")
          a.div-wrapper
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")
          a.div-wrapper
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")
          a.div-wrapper
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")
      include temp/fixedFooter











