extends layout/layout

block append headTitle
  title 首页
block append headCss
  script(type="text/javascript" src="../global/js/TouchSlide.1.1.js")
block content
  section
    .loan-index
      .banner#banner
        .hd
          ul
        .bd
          ul
            li
              a
                img(src="../global/images/APPbanner.jpg")
            li
              a
                img(src="../global/images/banner.jpg")
            li
              a
                img(src="../global/images/banner.jpg")
      .sec
        p 为您提供如下贷款
        div.bg-white
          a.div-wrapper(href="http://192.168.158.175:7070/loan-webfront/salaryLoanPage.do")
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")
          a.div-wrapper
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")
          a.div-wrapper
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")
          a.div-wrapper
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")














