<! DOCTYPE html>
html
  head
    meta(charset='utf-8')
    meta(name='Keywords',content='')
    meta(name='Description',content='')
    meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title VIP申请
    link(rel='shortcut icon',href='/favicon.ico')
    link(rel="stylesheet" href="/global/css/reset.css")
    link(rel="stylesheet" href="/global/css/common.css")
    script.
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 + 'px';
  body
    section.myCustomer
      .sec
        .tap-wrapper
          .tab-btn
            a.active 全部
            a 关注未购买
            a 已购买
          .tab-content
            .tab-cont
              .per-page
                h1 T-Mac
                p  关注时间：2016/9/18 16:34:33
              .per-page
                h1 T-Mac
                  span.font-red  已购买：收益10元
                p  关注时间：2016/9/18 16:34:33

      include temp/fixedFooter








