
extends layout/layout

block append headTitle
  title VIP申请
block append headCss
  script(type="text/javascript" src="../global/js/jsrender.min.js")
block content
  section.myCustomer
      .sec
        .tap-wrapper
          .tab-btn#tabBtn
            a.active 全部
            a 关注未购买
            a 已购买
          .tab-content
            .tab-cont#temp-list
              .per-page
                h1 T-Mac
                p  关注时间：2016/9/18 16:34:33
              .per-page
                h1 T-Mac
                  span.font-red  已购买：收益10元
                p  关注时间：2016/9/18 16:34:33





  script.
    $(function(){
      //tab切换
      $("#tabBtn").on("click","a",function() {
        var sel = $(this);
        sel.addClass('active').siblings().removeClass('active');
        htmlList.initalList();
      });
      //显示列表
      var htmlList = function () {
        var loading = true;
        var showList = function () {
          $("#temp-list").find('.loading').remove();
          $.ajax({
            type: "POST",
            url: "",
            data: {
              "org.id": "${org.id}"
            },
            beforeSend: function () {
              var temp = '<p class="loading">正在加载中……</p>'
              $("#temp-list").append(temp);
            },
            success: function (result) {
              var dataNum = data.tatol;
              var perPageNum = $("#temp-list .per-page").length;
              if (dataNum > perPageNum) {
                $("#temp-list")
                var dataSrouce = data.msg;
                var html = $.templates("#testTmpl").render(dataSrouce);
                $("#temp-list").append(html);
              }
              else if (dataNum == perPageNum) {
                var temp = '<p class="loading">无更多数据</p>'
                $("#temp-list").append(temp);
                loading = true;
              }
            },
            error: function () {
              var temp = '<p class="loading">系统繁忙，请稍后再试</p>'
              $("#temp-list").append(temp);
            }
          });
        }
        var initList = function () {
          $("#temp-list").html("");
          showList();
        }
        //加载更多
        var loadMore = function () {
          $(window).scroll(function () {
            var docHei = $(document).height();
            var scrollT = $(window).scrollTop();
            if (scrollT + $(window).height() > docHei - 20) {
              if (loading) {
                loading = false;
                showList();
              }
            }
          });
        };
        return {
          initalList: function () {
            initList();
          },
          scrollList: function () {
            loadMore();
          }
        }
      }();

      //htmlList.initalList();
      htmlList.scrollList();

    })

  script(id="testTmpl" type="text/x-jsrender").
    <div class="per-page">
      <h1>{{:name}}
          {{if expection}}
          <span class="font-red"> 已购买：收益{{:expection}}元</span>
          {{/if}}
      </h1>
      <p> 关注时间：{{:time}}</p>
    </div>



