extends layout/layout

block content
  section.bg
    .banner
      ul.ul_col1
        li
          img(src='')
        li
          img(src='')
    .sec_icons
      ul.ul_col3
        li
          span.icon0
          p 特别企划
        li
          span.icon1
          p 图案花型
        li
          span.icon3
          p 面料图库
    .sec_pic
      .pic_list
        h1
          span.red_bg
          |潮流前线
        ul.ul_col2
          li
            img(src="")
            .txtstatu
              .opac_bg
              .txt
                p  The Centaur
                p  大衣/风衣 风衣
          li
            img(src="")
            .txtstatu
              .opac_bg
              .txt
                p  The Centaur
                p  大衣/风衣 风衣
      .pic_list
        h1
          span.red_bg
          | 潮流前线
        ul.ul_col3
          li
            img(src="")
            .txtstatu
              .opac_bg
              .txt
                p  The Centaur
                p  大衣/风衣 风衣
          li
            img(src="")
            .txtstatu
              .opac_bg
              .txt
                p  The Centaur
                p  大衣/风衣 风衣
          li
            img(src="")
            .txtstatu
              .opac_bg
              .txt
                p  The Centaur
                p  大衣/风衣 风衣
      .pic_list
        h1
          span.red_bg
          | 潮流前线
        ul.ul_col4
          li
            img(src="")
          li
            img(src="")
          li
            img(src="")
          li
            img(src="")









