
extends layout/layout

block append headTitle
  title 立即充值

block content
  section.recharge
    .sec.recharge-btn
      a.a-btn-blue  立即充值100元体验
      a.a-btn-red  立即充值500元体验
      a.a-btn-green  立即充值1000元体验
      a.a-btn-orange  立即充值2000元体验

    .fixed-footer
      ul
        li
          a(href="/template/recharge.html").active
            span.trangle
            p 立即充值
        li
          a(href="/template/creditOfficer-mycustomer.html")
            span.trangle
              em 2
            p 我的客户
        li
          a(href="/template/creditOfficer-person.html")
            span.trangle
              em 9
            p 贷款中心







