<!DOCTYPE html>
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='Keywords',content='')
    meta(name='Description',content='')
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(http-equiv="x-rim-auto-match" content="none")
    meta(name='viewport',content="initial-scale=1, minimum-scale=1 maximum-scale=1, user-scalable=no")
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(content='telephone=no' name='format-detection')
    title canvas write word
    link(rel='shortcut icon',href='/favicon.ico')
    link(rel="stylesheet" href="/global/css/reset.css")
    link(rel="stylesheet" href="/global/css/common.css")
    script.
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';

  body
    div.wordContainer
      canvas#wordCanvas(style="margin:20px 10px;") 你的浏览器不支持canvas
      a#clearBtn.clearBtn(style = "float:right;display:inline-block;width:200px; height:40px;line-height:40px; background-color:#ccc;text-align:center;color:#fff;font-size:20px;") 清除

    script(src="/global/js/wordCanvas.js")











