doctype html
html
  head
    meta(charset='utf-8')
    meta(name='Keywords',content='')
    meta(name='Description',content='')
    meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title 活动
    link(rel='shortcut icon',href='/favicon.ico')
    block headCss
      link(rel="stylesheet" href="/global/css/reset.css")
      link(rel="stylesheet" href="/global/css/common.css")
    script.
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 + 'px';
  body
    include ../temp/head

    block content

    include ../temp/foot

    include ../temp/foot_js
